.controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 130px;
    justify-content: space-around;
}

label {
    color: white;
    margin-left: 10px;
    margin-top: -3px;
}
button {
    width: 42%;
}

.input-group {
    max-width: 130px;
}

img {
    position: absolute;
    top: 3000px;
}

input {
    width: 40px;
}

canvas {
    position: absolute;
    top: 50px;
    z-index: -1;
    left: 50px;
}

body {
    background: black!important;
}
